<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Path Navigator</title>
</head>
<body>
    <h1 class="heading">Crater Detection and path Navigator </h1>
    <form action="/find-craters" class="upload-img" method="post" enctype="multipart/form-data">
        <label class="custom-file-upload" id="file-upload"> Upload your image 
            <input type="file" accept="image/*" name="img" id="img" onchange="changeClass()">
        </label>
        <input type="submit" value="Find Craters">
    </form>
    {% if img %}
        <div class="img-holder">
            <img src="{{img}}" alt="processed-image">
        </div>
        <div class="img-holder">
            <img src="{{blob_img}}" alt="blob-processed-image">
        </div>
    {% else %}
        <div class="img-holder">
        </div>
        <div class="img-holder">
        </div>
    {% endif %}
    <script>
        function changeClass() {
            label = document.getElementById("file-upload");
            label.className = "custom-file-uploaded";
        }
    </script>
</body>
</html>
